/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.css-a5oxix {
  margin-left: 0 !important;
}
.css-y2cbsx {
  padding: 0 !important;
}

/* Loader Styles */
.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c: no-repeat linear-gradient(#407bff 0 0);
  background: var(--c) center/100% 10px, var(--c) center/10px 100%;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l16 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* Custom Classes */
.active {
  background-color: #407bff;
  border-radius: 15px;
}

/* Note: Be cautious with global overrides like this. */
/* .MuiBox-root { */
  /* background: #ff0707; */
/* } */

/* Custom Error Text */
.custom-error-text {
  border: 1px solid #c92222;
  margin-top: 10px;
  font-size: 0.875rem;
  color: #c92222;
}

/* date field */
/* Hide the default date picker icon */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
} */

/* Style the custom date picker icon */
.custom-date-picker-icon {
  position: absolute;
  right: 1px;
  /* left: -10px; */
  top: 60%;
  transform: translateY(-50%);
  width: 52px; /* Adjust size as needed */
  height: 52px;
  cursor: pointer;
}

.custom-date-picker-icon-big {
  width: 52px; /* Adjust size as needed */
  height: 52px;
}

